---
import { slugifyStr } from "@utils/slugify";
import Datetime from "./Datetime.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  href?: string;
  frontmatter: CollectionEntry<"blog">["data"];
  secHeading?: boolean;
  readingTime?: string;
}

const { href, frontmatter, secHeading = true, readingTime } = Astro.props;
const { title, pubDatetime, modDatetime, description } = frontmatter;

const headerStyle = `view-transition-name: ${slugifyStr(title)}`;
const headerClass = "text-lg font-medium decoration-dashed hover:underline";
---

<li class="my-6">
  <a
    href={href}
    class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {
      secHeading ? (
        <h2 style={headerStyle} class={headerClass}>
          {title}
        </h2>
      ) : (
        <h3 style={headerStyle} class={headerClass}>
          {title}
        </h3>
      )
    }
  </a>
  <Datetime pubDatetime={pubDatetime} modDatetime={modDatetime} readingTime={readingTime} />
  <p>{description}</p>
</li>
